<br><br><br><br>


<div class="jumbotron text-center">
  <h1 class="display-4">Eat - DA - Burger</h1>
  <hr class="my-4">
</div>




{{!-- <br><br><br><br> --}}


<section class="container">
  <div class="col-md-12">
    <div class="row justify-content-center">


      {{!-- List of undevoured burgers --}}
      <div class="col-md-6 border-right">
        <h2>Burgers awaiting consumption!</h2>
        <br>
        <ul class="list-group" id="notdevoured">
          {{#each burgers}}
          {{#unless devoured}}
          <li class="list-group-item d-flex justify-content-between">{{id}}. {{burger_name}} <button type="button " class="btn btn-success btn-sm burgerdevour" id = {{id}}>Devour</button></li>
          {{/unless}}
          {{/each}}
        </ul>
      </div>

      {{!-- List of devroured burgers --}}
      <div class="col-md-4">
        <h2>Burgers in my belly!</h2>
        <br>
        <ul class="list-group" id="devoured">
          {{#each burgers}}
          {{#if devoured}}
          <li class="list-group-item d-flex justify-content-between">{{id}}. {{burger_name}}<button type="button " class="btn btn-danger btn-sm burgerdelete" id = {{id}}>X</button></burron></li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>

    <br><br><br>

    <div class="row justify-content-center">
      <div class="col-6">
        <form class="form-inline">
          <div class="form-group mx-sm-4 mb-2">
            <input type="input" class="form-control" id="inputBurger" placeholder="Enter New Burger Name">
            {{!-- <label for="inputBurger" class="sr-only">Add a New Burger</label> --}}
          </div>
          <button id="buttonAddBurger" type="submit" class="btn btn-primary mb-2">Add a New Burger</button>
        </form>
      </div>
    </div>
  </div>
</section>